<div class="row justify-content-end ml-5 mt-4">
    <div class="col-10">

        <div class="container">
            <section class="page-section">
                <div class="card">
                    <h2 class="card-header">
                        About Me
                    </h2>
                    <div class="card-body">
                        Hello, I am Alex Blanco, a full stack developer with a passion for technology. Some of my skills
                        inculde working together with teams while creating javascript projects

                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Projects</a>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>