<div class="row justify-content-end ml-5 mt-4">
    <div class="col-10">
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Recent Projects</h2>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="portfolio-item">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>EAT-DA-BURGER</h2>

                                    <li>Role: Full Stack Developer</li>

                                    <p> The burger logger uses MySQL, Node, Express, and Handlebars. Also follwing the
                                        MVC design pattern, while using Node and
                                        MySQL query to route the data in the app and Handlebars creating the HTML.

                                    </p>
                                    <a href="https://github.com/ab1228/burger" target="_blank"> See code</a>
                                    <a href="https://burgersapptx.herokuapp.com/" target="_blank"> Live Site</a>



                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/burger2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Ice Cream</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                                        ipsum recusandae aperiam quibusdam, animi suscipit?</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Strawberries</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
                                        adipisci dolorem, reiciendis assumenda recusandae nostrum.
                                    </p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Workspace</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
                                        corrupti ipsum voluptates officia, ut perferendis.
                                    </p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>