<div class="row justify-content-end ml-5 mt-4">
    <div class="col-10">
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Recent Projects</h2>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="portfolio-item">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>EAT-DA-BURGER</h2>

                                    <li>Role: Full Stack Developer</li>

                                    <p> The burger logger uses MySQL, Node, Express, and Handlebars. Also follwing the
                                        MVC design pattern, while using Node and
                                        MySQL query to route the data in the app and Handlebars creating the HTML.

                                    </p>
                                    <a class='one' href="https://github.com/ab1228/burger" target="_blank"> See code</a>
                                    <a href="https://burgersapptx.herokuapp.com/" target="_blank"> Live Site</a>



                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/burger2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Crystal Game</h2>
                                    <li>Role: Front End Developer</li>
                                    <p class="mb-0">Fun and interactive game for web browsers. The app dynamically
                                        updates its HTML using jQuery library
                                    </p>
                                    <a class='one' href="https://github.com/ab1228/unit-4-game" target="_blank"> See
                                        code</a>
                                    <a href="https://ab1228.github.io/unit-4-game/" target="_blank"> Live Site</a>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/crystal.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Trivia Game</h2>
                                    <li>Role: Front End Developer</li>
                                    <p class="mb-0">Trivia game using JavaScript for the logic and jQuery to manipulate
                                        HTML
                                    </p>
                                    <a class='one' href="https://github.com/ab1228/TriviaGame" target="_blank"> See
                                        code</a>
                                    <a href="https://ab1228.github.io/TriviaGame/" target="_blank"> Live Site</a>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/trivia.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>GifTastic</h2>
                                    <li>Role: Front End Developer</li>
                                    <p class="mb-0">The app uses GIPHY API to populate the page with the gifs of your
                                        choice. If the user click on it still picture and it will animate, but if the
                                        animated picture is cliked it will no be still
                                    </p>
                                    <a class='one' href="https://github.com/ab1228/GifTastic" target="_blank"> See
                                        code</a>
                                    <a href="https://ab1228.github.io/GifTastic/" target="_blank"> Live Site</a>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/giphy.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>GifTastic</h2>
                                    <li>Role: Front End Developer</li>
                                    <p class="mb-0">The app uses GIPHY API to populate the page with the gifs of your
                                        choice. If the user click on it still picture and it will animate, but if the
                                        animated picture is cliked it will no be still
                                    </p>
                                    <a class='one' href="https://github.com/ab1228/GifTastic" target="_blank"> See
                                        code</a>
                                    <a href="https://ab1228.github.io/GifTastic/" target="_blank"> Live Site</a>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/giphy.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>GifTastic</h2>
                                    <li>Role: Front End Developer</li>
                                    <p class="mb-0">The app uses GIPHY API to populate the page with the gifs of your
                                        choice. If the user click on it still picture and it will animate, but if the
                                        animated picture is cliked it will no be still
                                    </p>
                                    <a class='one' href="https://github.com/ab1228/GifTastic" target="_blank"> See
                                        code</a>
                                    <a href="https://ab1228.github.io/GifTastic/" target="_blank"> Live Site</a>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/giphy.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>