<div class="row justify-content-end ml-5 mt-4">
    <div class="col-10">
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Recent Projects</h2>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Stationary</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum,
                                        quibusdam!</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Ice Cream</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                                        ipsum recusandae aperiam quibusdam, animi suscipit?</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Strawberries</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
                                        adipisci dolorem, reiciendis assumenda recusandae nostrum.
                                    </p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Workspace</h2>
                                    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
                                        corrupti ipsum voluptates officia, ut perferendis.
                                    </p>
                                </span>
                            </span>
                            <img class="img-fluid" src="/assets/images/js.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>