body {
 
  height: 100%;
  width: 100%;
  background: #DCD0C0;
  overflow-x: hidden;
}



.justify-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    
}

.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid #adb5bd;
}

/*///////////////////////////////////////////////////
NAVBAR
/////////////////////////////////////////////////////*/
#sideNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 17rem;
  top: 0;
  left: 0;
  padding-top: 150px;

}

 #sideNav .navbar-nav {
  display: block;


}
 
 #sideNav .navbar-brand {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
}



.navbar-nav,
.nav-item, 
.nav-link {
  
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
  
  
}

  #sideNav .navbar-collapse {
    flex-direction: column;
    width: 100%;
  }

 

.bg-primary {
    background-color: #343a40!important;
}
.bg-dark {
    background-color: #e0c05f!important;
    border-bottom: 5px solid #adb5bd;
}

/*////////////////////////////////////////////
Footer
////////////////////////////////////////////*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
   
}

.fa-linkedin,
.fa-github,
.fa-envelope {
 
  color:#343a40 !important;
  font-size: 3rem; 
  font-weight: 700;
  letter-spacing: 10px;
  padding-right: 10px;
    
 
}
/*///////////////////////////////////
LANDING PAGE
/////////////////////////////////////*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

h1.mb-0 {
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-size: 6rem;
  line-height: 5.5rem;

}
.text-primary {
    color:  #343a40!important;
}
a {
    color: #F4F4F4;
}
.text-white {
  color: #adb5bd;
}

/*//////////////////////////////////
CONTACT PAGE
///////////////////////////////////*/


section#contact .form-group input,
section#contact .form-group textarea {
  padding: 23px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}
.btn-primary {
  background-color: #e0c05f;
      border-color: #343a40;
}

/*/////////////////////////////
PORTFOLIO
/////////////////////////////*/



.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.img-fluid {
  max-width: 100%;
  height: 300px;
}


.portfolio-item {
    max-width: none;
    margin: 0;
}
.portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
}
.portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
}
.portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
}
.portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
}


