



.justify-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    
}
.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

/*///////////////////////////////////////////////////
NAVBAR
/////////////////////////////////////////////////////*/
#sideNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 17rem;
  top: 0;
  left: 0;
  padding-top: 150px;

}

 #sideNav .navbar-nav {
  display: block;


}
 
 #sideNav .navbar-brand {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
}



.navbar-nav,
.nav-item, 
.nav-link {
  
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
  
  
}

  #sideNav .navbar-collapse {
    flex-direction: column;
    width: 100%;
  }

  #horizontalNav .navbar {
  background: #c0b283;
}

/*////////////////////////////////////////////
Footer
////////////////////////////////////////////*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
   
}

.fa-linkedin,
.fa-github,
.fa-envelope {
 
  color: #b3cdd1 !important;
  font-size: 3rem; 
 
}
/*///////////////////////////////////
LANDING PAGE
/////////////////////////////////////*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 93vh;
}
h1.mb-0 {
   text-transform: uppercase;
}



