body {
 
  height: 100%;
  width: 100%;
  background: #DCD0C0;
  overflow-x: hidden;
}



.justify-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    
}

.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid #adb5bd;
}

/*///////////////////////////////////////////////////
NAVBAR
/////////////////////////////////////////////////////*/
#sideNav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  width: 17rem;
  top: 0;
  left: 0;
  padding-top: 150px;

}

 #sideNav .navbar-nav {
  display: block;


}
 
 #sideNav .navbar-brand {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
}



.navbar-nav,
.nav-item, 
.nav-link {
  
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
  
  
}

  #sideNav .navbar-collapse {
    flex-direction: column;
    width: 100%;
  }

 

.bg-primary {
    background-color: #343a40!important;
}
.bg-dark {
    background-color: #e0c05f!important;
    border-bottom: 5px solid #adb5bd;
}

/*////////////////////////////////////////////
Footer
////////////////////////////////////////////*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
   
}

.fa-linkedin,
.fa-github,
.fa-envelope {
 
  color:#343a40 !important;
  font-size: 3rem; 
  font-weight: 700;
  letter-spacing: 10px;
  padding-right: 10px;
    
 
}
/*///////////////////////////////////
LANDING PAGE
/////////////////////////////////////*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

h1.mb-0 {
  text-transform: uppercase;
  font-family: 'Bitter', serif;
  font-size: 6rem;
  line-height: 5.5rem;

}
.text-primary {
    color:  #343a40!important;
}
a {
    color: #F4F4F4;
}
.text-white {
  color: #adb5bd;
}

/*//////////////////////////////////
CONTACT PAGE
///////////////////////////////////*/


section#contact .form-group input,
section#contact .form-group textarea {
  padding: 23px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}
.btn-primary {
  background-color: #e0c05f;
      border-color: #343a40;
}
